.app_rose_theme {
    --bg-color: #ffe5f4;
    --inverted-bg-color: #ff81c6;
    --primary-color: #e73b9d;
    --secondary-color: #cb3587;
    --inverted-primary-color: #f5dada;
    --inverted-secondary-color: #dab9cb;

    //Skeleton
    --skeleton-color: #f5b5e0;
    --skeleton-shadow: rgb(49 45 45 / 20%);

    //Code
    --code-bg: #fff;
}
